.app-wrapper {
	display: flex;
	margin: 20px;
}

.currency-wrapper {
	order: 1;
	margin: 0 20px;
}

.calculator-wrapper {
	width: 145px;
	border: 1px solid gray;
}

.display-wrapper {
	padding: 10px 0;
}